<form action="/jobs" method="post">

  <label for="title">Add a new job title</label>
  <input id="title" name="title" type="text">

  <label for="description">Add a new job description</label>
  <input id="description" name="description" type="text">
  
  <label for="contact">Add a new phone number or email</label>
  <input id="contact" name="contact" type="text">
  <button type="submit">Submit</button>
</form>